@model OMAPDev.Models.Enrollment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enrollment</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JumpStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JumpStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkettingManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkettingManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Self)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Self)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
